/*------- topnav -------*/
nav {
    background-color: #212529;
}


nav ul > li:nth-of-type(2):hover > a, nav ul > li:nth-of-type(3):hover > a{
    transform: none;
    border: none;
    background-color: rgb(241, 250, 238, .9);
    color: #212529;
}

nav ul li ol li > a {
    background-color: rgb(241, 250, 238, .9);
    color: #212529;
}

nav ul li ol li:hover a{
    transform: translateY(-3px);
    background-color: rgba(33, 37, 41, .3);
    color: #f1faee;
}

nav ul li ol li:active a{
    transform: translateY(-1px);
}

/*------- main -------*/
main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main_bg {
    width: calc(100vw * 10/12);
    height: 100vh;
    background-image: linear-gradient(
        to left,
        rgba(241, 250, 238, 1) 0,
        /* rgba(241, 250, 238, .8) 5%, */
        rgba(241, 250, 238, .8) 30%,
        rgba(241, 250, 238, 0) calc(100vw * 6/12 )),
        url('../img/about_us_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 5rem;
    /* overflow: hidden; */
    position: absolute;
    left: 0%;
    overflow: hidden;
    /* calc(100vw * 4/12)) */
    z-index: -1;

}

.main_content {
    /* padding-top: calc(100vh * 2/12 + 5rem); */
    width: calc(100vw * 4/12);
    /* height: calc(100vh * 8/12 -5rem); */
    /* over-height: 60vh; */

    position: absolute;
    top: calc(100vh * 2/12 + 5rem);
    left: calc(100% * 7/12);
}

.main_content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #212529;
}

.main_content .boxRight {
    overflow-y: auto;
    height: calc( 100vh * 6/12);
}

.main_content p {
    padding-right: 1rem;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
/*------- main end-------*/


/*------- map -------*/
.map_bg {
    padding: 0 3rem;
    padding-top: 2rem;
    background-color: #212529;
}

.map_wrapper {
    margin: 0 auto;
    /* width: calc(100% *10/12); */
    height: 100%;
    width: 100%;
    background-color: #f1faee;

    box-sizing: border-box;
    border: 1rem double #212529;
    border-radius: 1rem;
}

.map_wrapper .map {
    width: 100%;
    height: 150px;
    transition: all 2s ease-in-out;
}

.map_wrapper:hover .map {
    width: 100%;
    height: 100vh;
}
