@import url('reset.css');

/* 預設 */
body {
    font-family: 'Roboto', sans-serif, '微軟正黑體';
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f1faee;
    overflow: overlay;
    /* 滾動軸不占空間 */
    overflow-x:hidden;
    /* 暴力解決橫向卷軸的出現 */
}

/* 滾動卷軸 */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    border: solid 5px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(29, 53, 87, .8);
    /* background-color: rgb(29, 53, 87, .7); */
    border: 5px solid transparent;
    border-radius: 1rem;
} 


.btn-default {
    display: inline-block;
    color: #212529;
}

a{
    color: #212529;
    text-decoration: none;
}

p {
    font-family: 'Roboto';
    color: #212529;
}

.wrapper {
    margin: 0 auto;
    /* position: relative; */
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}