/*------- topnav -------*/
nav {
  /* background-color: #fff; */
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  color: #1d3557;
  box-sizing: border-box;

  display: flex;
  z-index: 1;
  align-items: center;
  padding: 0 3rem;
  /* justify-content: right; */
  font-family: "Roboto";
  background-color: #f1faee;
}

nav a {
  height: 4rem;
}

nav img {
  height: 4rem;
}

nav ul {
  display: flex;
  margin-left: auto;
  /* 選單靠右 */
  width: 650px;
  /* border: 2px solid #fff;   */
  align-items: center;
  justify-content: flex-end;
}

nav li {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  /* padding: .5em .5em; */
  /* border: 1px solid #fff; */
}

nav li a {
  color: #1d3557;
  /* padding: .5rem 1rem; */
  width: 7rem;
  height: 3rem;
  display: block;
  line-height: 3rem;
  transition: all 0.2s;
}

nav li a:hover {
  box-sizing: border-box;
  transform: translateY(-3px);
  color: #f1faee;
  /* border: 1.5px solid #1d3557; */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

  background-color: rgba(29, 53, 87, 0.6);
}

nav ul li a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

nav ul > li:nth-of-type(2):hover > a,
nav ul > li:nth-of-type(3):hover > a {
  transform: none;
  border: none;
  box-shadow: none;
  background-color: rgb(29, 53, 87, 0.6);
  color: #f1faee;
}

nav ul li ol li > a {
  background-color: rgb(29, 53, 87, 0.6);
  color: #f1faee;
}

nav ul li ol li > a:hover {
  border: 1.5px solid #f1faee;
  background-color: rgb(224, 233, 245, 0.6);
  color: #1d3557;
  /* font-weight: 700;     */
}

nav ul li a.btn {
  width: auto;
  height: auto;
  line-height: 0;
  padding-left: 10px;
}

nav ul li a.btn:hover {
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

nav li ol {
  position: absolute;
  display: flex;
  flex-direction: column;
}

nav li ol li a {
  display: none;
  margin: 0 auto;
}

nav li:hover ol li a {
  display: block;
}

#nav_login{
  display: none;
  position: absolute;
  right: 3rem;
  top: 3.5rem;
}

#nav_login a {
  background-color: #1d3557;
  opacity: .8;
  color: #f1faee;

  transform: none;
}

nav li:hover #nav_login{
  display: block;
}

nav li:hover #nav_login a{
  display: block;
  transform: none;
  box-shadow: none;
  border: none;
}

nav ul li #nav_login a:active {
  transform: none;
  box-shadow: none;
  color: #a8dadc;
}

/*------- topnav end-------*/

/*------- float_btn -------*/
.float_btn a {
  font-size: 1rem;
  position: fixed;
  z-index: 10;
  right: 3rem;
  bottom: 2rem;
  padding: 0 3rem;
  line-height: 1.5rem;
  background-color: #f1faee;
  border-radius: 2rem;
  letter-spacing: 0.5rem;
  color: #1d3557;
  border: 3px solid #f1faee;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  font-family: "Roboto";
  box-sizing: border-box;
}

.float_btn a:hover {
  transform: translateY(-3px);
  background-color: #1d3557;
  border: 3px solid #1d3557;
  color: #f1faee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.float_btn a:active {
  transform: translateY(-1px);
  background-color: rgba(29, 53, 87, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*------- float_btn end -------*/

/* ------- footer ------- */
footer {
  color: #f1faee;
  background-color: #212529;
  padding: 3rem 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

footer .logo {
  /* background-color: red; */
  height: 100px;
  position: absolute;
  left: 3rem;
  bottom: 50px;
}

footer .decorate {
  position: absolute;
  left: 1rem;
  bottom: 20px;
  /* width: 800px; */
}

footer .footer_content {
  display: flex;
  justify-content: flex-end;
  /* background-color: aquamarine; */
  width: calc(100% * 8 / 12);
  white-space: nowrap;
}

footer .footer_content > div {
  margin-left: 5%;
}

footer a {
  color: #f1faee;
}

footer p {
  color: #f1faee;
}

footer .footer_time ul {
  display: flex;
  /* flex-direction: column; */
}

footer .footer_time ul li {
  padding-left: 15px;
}

footer .footer_time ul li i {
  font-size: 3rem;
}

footer .footer_contact li {
  padding-bottom: 20px;
  box-sizing: border-box;
}

footer .footer_contact li i {
  background-color: #f1faee;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #212529;
  text-align: center;
  line-height: 1.5rem;
}

footer .footer_follow h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

footer .footer_follow ul {
  display: flex;
}

footer .footer_follow li{
  flex-grow: 1;
}

footer .footer_follow li a{
  color: #f1faee;
  font-size: 3rem;
  flex-grow: 1;
}

footer .footer_follow li a:hover > i {
  color: #ec9a9a;
  transition: all 0.2s;
}

.references {
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 100%;
  justify-content: center;
}

.references p {
  font-size: 0.8rem;
}

.references a {
  font-size: 0.8rem;
  color: #ec9a9a;
}

/*------- footer end -------*/
