/*------- topnav -------*/
.topnav {
    /* background-color: #fff; */
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    color: #f1faee;
    box-sizing: border-box;

    display: flex;
    z-index: 1;
    align-items: center;
    padding: 0 3rem;
    /* justify-content: right; */
    font-family: sans-serif;
}

.topnav img {
    height: 4rem;
}

.topnav ul {
    display: flex;
    margin-left: auto; 
    /* 選單靠右 */
    width: 650px;
    /* border: 2px solid #fff;   */
    align-items: center;
    justify-content: flex-end;
}

.topnav li {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    /* padding: .5em .5em; */
    /* border: 1px solid #fff; */
}

.topnav li a {
    color: #f1faee;
    /* padding: .5rem 1rem; */
    width: 7rem;
    height: 3rem;
    display: block;
    line-height: 3rem;
    transition: all .2s;
}

.topnav li a:hover{
    transform: translateY(-3px);
    border: 1.5px solid #f1faee;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);

    background-color: rgba(33, 37, 41, .3);
}

.topnav ul li a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.topnav ul li a.btn {
    width: auto;
    display: block;
    height: auto;
    line-height: 0;
    padding-left: 10px;
    /* background-color: #fff; */
}

.topnav ul li a.btn:hover {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}


.topnav li ol {
    position: absolute;
    display: flex;
    flex-direction: column;
}


.topnav li ol li a {
    display: none;   
    margin: 0 auto;
}

.topnav li:hover ol li a {
    display: block;
}

.topnav ul li .nav_login a{
    display: none;
    position: absolute;
    background-color: #1d3557;
    /* opacity: .9; */
    color: #f1faee;
    border:10px double;
    border-color: transparent;

    right: 3rem;
    transform: none;
    /* transition: all .5s; */
}

.topnav li:hover .nav_login a{
    display: block;
    transform:none;
    box-shadow: none;
}

/* .topnav ul li a:active */
.topnav ul li .nav_login a:active{
    transform: none;
    box-shadow: none;
    color: #a8dadc;
}

/*------- topnav end-------*/

/*------- float_btn -------*/
.float_btn a {
    font-size: 1rem;
    position: fixed;
    z-index: 10;
    right: 3rem;
    bottom: 2rem;
    padding: 0 3rem;
    line-height: 1.5rem;
    background-color: #f1faee;
    border-radius: 2rem;
    letter-spacing: .5rem;
    color: #1d3557;
    border: 3px solid #f1faee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    transition: all .2s;
    font-family: sans-serif;
    box-sizing: border-box;
}

.float_btn a:hover {
    transform: translateY(-3px);
    background-color: #1d3557;
    border: 3px solid #1d3557;
    color: #f1faee;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.float_btn a:active {
    transform: translateY(-1px);
    background-color: rgba(29, 53, 87, .5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/*------- float_btn end -------*/

/* ------- footer ------- */
.footer {
    color: #f1faee;
    background-color: #212529;
    padding: 3rem 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.footer .logo {
    /* background-color: red; */
    height: 100px;
    position: absolute;
    left: 3rem;
    bottom: 50px;
}

.footer .decorate {
    position: absolute;
    left: 1rem;
    bottom: 20px;
    width: 900px;
}

.footer .footer_content {
    display: flex;
    justify-content:flex-end;
    /* background-color: aquamarine; */
    width: calc(100% * 8/12);
    white-space: nowrap;
}

.footer .footer_content > div {
    margin-left: 1rem;
}

.footer a {
    color: #f1faee;
}

.footer p {
    color: #f1faee;
}

.footer .footer_time ul{
    display: flex;
    /* flex-direction: column; */
}

.footer .footer_time ul li {
    padding-left: 15px;
}

.footer .footer_time ul li i{
    font-size: 3rem;
}


.footer .footer_contact li{
    padding-bottom: 20px;
    box-sizing: border-box;
}

.footer .footer_contact li i{
    background-color: #f1faee;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #212529;
    text-align: center;
    line-height: 1.5rem;
}

.footer .footer_follow h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.footer .footer_follow ul {
    display: flex;
}

.footer .footer_follow li {
    /* color: #f1faee; */
    /* height: 48px; */
    font-size: 3rem;
    flex-grow: 1;
    /* line-height: 1; */
    
}

/* .footer .footer_follow li .fa-facebook {
    width: 24px;
    height: 24px;
    color: aqua;
    margin: auto;
    嘗試無效
} */

.footer .footer_follow li a:hover {
    color: #a8dadc;
}

.references {
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 100%;
    justify-content: center;
}

.references p {
    font-size: .8rem;
}

.references a {
    font-size: .8rem;
    color: #ec9a9a;
}

/*------- footer end -------*/