/*------- main -------*/
.main {
    width: 100vw;
    /* margin: 0 auto; */
}

.main_about {
    /* background-color: red; */
    box-sizing: border-box;
    padding-top: 5rem;
    margin: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
}

.main_about .run {
    content: " ";
    /* border-top: 5px solid #212529; */
    display: inline-block;
    background-color: #212529;
    height: 3px;
    width: 300px;
    align-self: center;
    position: absolute;
    right: 19rem;
    /* left: 45%;

    animation: run 5s ease-out backwards; */
}

/* @keyframes run {
    0% {
        right: 100%;
        width: 5px;
    }

    20% {
        right: 80%;
        width: 5px; 
    }

    70% {
        right: 40%;
        width: 400px;
    }

    100% {
        right: 19rem;
        width: 400px;
    }
} */

/* @keyframes run {
    0% {
        left: 0%;
        width: 5px;
    }

    20% {
        left: 10%;
        width: 5px; 
    }

    70% {
        left: 40%;
        width: 400px;
    }

    100% {
        left: 45%;
        width: 400px;
    }
} */



.main_about h2{
    font-size: 2rem;
    color: #212529;
    padding-left: 3rem;
    /* transition: all 3s; */
}

.main .main_wrapper {
    /* background-color: blue; */
    margin:0 3rem;
    /* margin-top: 5rem; */
}

.main_wrapper ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: space-between;
}

.main_wrapper ul li {
    width: 200px;
    background-color: #fff;
    margin-bottom: 2rem;
    word-wrap: break-word;
    /* border: 20px solid #fff; */
    padding: 1.5rem;
    border-radius: .5rem;
    /* box-shadow: -3px 3px #e63946 ; */
    /* box-shadow: -3px 3px rgb(230, 57, 70, .5) ; */
    display: flex;
    flex-direction: column;
    /* 為了A連結的排版 */
}

.main_wrapper ul li:hover{
    box-shadow: -4px 5px #e63946 ;
    transform: translateY(-3px);
    transition: all .8s;
}

.main_wrapper ul li:active{
    box-shadow: -2px 2px 1px #e63946 ;
    transform: translateY(-1px);
    transition: all .2s;
}

.main_wrapper ul li img {
    min-width: 150px;
}

.main_wrapper h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #1d3557;
}

.main_wrapper p {}

.main_wrapper span {
    display: flex;
    justify-content: flex-end;
    transition: all 2s;

    margin-top: auto;
}
.main_wrapper .profile-icon {
    font-size: 1.3rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    color: #ec9a9a;
    border: 3px solid #ec9a9a; 
    border-radius: .5rem;
    margin-left: .5rem;
}


.main_wrapper span a:hover {
    color: #f1faee;
    border:3px solid #f1faee; 
    background-color: #e63946;
    /* transform: translateY(0px); */
    transition: all .2s;
}

.main_wrapper span a:active {
    transform: translateY(1px);
    /* transition: all .2s; */
}