.augurio-collapse .title-box, .augurio-collapse .contents-box {
  border: 1px solid #CCC; }

.augurio-collapse .title-box, .augurio-collapse .contents {
  padding: 12px; }

.augurio-collapse .title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .augurio-collapse .title-box.active .icons span:first-of-type {
    transform: rotate(180deg); }
  .augurio-collapse .title-box.active .icons span:last-of-type {
    transform: rotate(0) translateY(-2px); }

.augurio-collapse .icons {
  position: absolute;
  right: 12px; }
  .augurio-collapse .icons span {
    display: block;
    width: 12px;
    height: 2px;
    background-color: #000;
    transition: transform .2s ease; }
    .augurio-collapse .icons span:last-of-type {
      transform: rotate(90deg) translateX(-2px); }

.augurio-collapse .contents-box {
  overflow: hidden;
  border-top: none;
  border-bottom: none;
  transition: height .3s ease; }

.augurio-collapse .collapse:last-of-type .contents-box {
  border-bottom: 1px solid #CCC; }
