main {
    display: grid;
    margin: 0 auto;
    /* 左右 */
    grid-template-columns: 110px 7fr 110px;
    /* 上下 */
    grid-template-rows: auto 50px 1fr;
    grid-template-areas:
      ". top ."
      ". weekdays ."
      "content content content";
  
    min-width: 970px;
    margin: 0 3rem;
    background-color: #fff;
    margin-top: 5rem;
    padding: 30px 30px;
  
    background-color: #fff;
    color: #212529;
  }
  
  /* ------ calendar begin ------ */
  /* ------ top ------ */
  .top_block {
    grid-area: top;
    height: 100px;
    width: 600px;
  
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .monthDisplay {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .top_block button {
    font-size: 2rem;
    line-height: 2rem;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
  }
  
  .weekdays{
    grid-area: weekdays;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  
    text-transform: capitalize;
  }
  
  .weekdays > div{
    margin: 0 5px;
     color: #212529;
     font-size: 1.5rem;
  
  
     position: relative;
     text-align: center;
  }
  
  .weekdays div::after {
    content: " ";
    
    position: absolute;
    top: 25%;
    bottom: 0;
    right: -6px;
    width: 2px;
    height: 50%;
    background-color: #212529;  
  }
  
  .weekdays div:last-child:after {
    display: none;
  }
  
  
  /* ------ container ------ */
  .container {
    grid-area: content;
    display: grid;
    /* 左右 */
    grid-template-columns: 110px 7fr 110px;
    /* 上下 */
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas:
    ". weeka ."
    ". weekb ."
    ". weekc ."
    ". weekd ."
    ". weeke ."
    ". weekf .";
  }
                        
  
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .week1 {
    grid-area: weeka;
  }
  
  .week2 {
    grid-area: weekb;
  }
  
  .week3 {
    grid-area: weekc;
  }
  
  .week4 {
    grid-area: weekd;
  }
  
  .week5 {
    grid-area: weeke;
  }
  
  .week6 {
    grid-area: weekf;
  }
  
  .day{
    font-size: 3rem;
    /* align-items: center; */
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 0px 3px #666;
    line-height: 80px;
  
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .week .day:hover{
  background-color: #BECBD4;
  /* 當日顏色 #A8DADC */
  }
  
  
  /* .day:hover {
    background-image: url('../img/circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50%;
    background-position: center;
  } */
  
  .day:nth-of-type(1n + 7),
  .day:nth-of-type(7n + 1) {
    background: #6D8A96;
  }
  
  #currentDay {
    background-color:#EFA00B;
  }
  
  #currentDay:hover{
    background-color: #BECBD4 ;
  }
  
  .padding{
    cursor: default !important;
    background-color: #FFFFFF !important;
    box-shadow: none !important;
  }
  
  .-none{
    display: none;
  }
  
  /* ------ calendar end ------ */
  
  /* ------ schedule------ */
  
  .schedule {
    grid-area: time;
    display: grid;
    grid-template-columns: 110px 7fr 110px;
    grid-template-areas: "left timeAll right";
  
  
    border-top: none;
    /* display: none; */
  
    /* transform: translateY(-1300px);
      transition: all 2s; */
  }
  
  .timeline{
    grid-area: timeAll;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 50px) ;
    box-shadow: inset 0px -1px 0 0 #ccc;
  }
  
  .timeZone {
    box-shadow: inset 1px 1px #ccc;
    /* box-shadow: 0px 0px 1px #212529; */
    box-sizing: border-box;
    /* 字排版用 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    /* text-align: center;
    line-height: 50px;
    box-shadow: inset 0 1px 0 0 #ccc; */
  }
  
  .timeZone:hover{
    background: #BECBD4;
  }
  
  /* .time_day:hover {
    background-image: url("../img/square.png");
    background-size: cover;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  .timeZone h4 {
    line-height: 1.2;
  }
  
  .timeZone p {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  
  .leftbar,.rightbar {
    display: grid;
    width: 110px;
    grid-template-rows: repeat(13, 50px);
  }
  .leftbar{grid-area: left;}
  .rightbar{grid-area: right;}
  
  .leftbar > div{
    text-align: center;
    line-height: 50px;
    box-shadow: inset 0 1px 0 0 #ccc;
  }
  
  .leftbar div:first-child{
    box-shadow: inset 0 0 0 0 #ccc;
  }
  
  .rightbar > div {
    text-align: center;
    line-height: 50px;
    box-shadow: inset 1px 1px 0 0 #ccc;
  }
  
  .rightbar div:first-child{
    box-shadow: inset 1px 0 0 0#ccc;
  }
  
  .event{
    padding: 3px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .event h4{
    line-height: 1.2rem;
  }
  
  .event p{
    line-height: 1rem;
    font-size: .8rem;
  }
  
  /* ------ schedule end ------ */
  
  
  /* events css */
  
  button {
    /* background-color: #EC9A9A; */
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 1.5rem 0;
    margin-left: .5rem;
  
    float: right;
  }
  
  #newClassModal,#deleteClassModal{
    width: 400px;
    height: 350px;
    padding: 30px;
    z-index: 20;
    background-color: #f1faee;
    box-shadow: 0px 0px 3px black;
  
    position: absolute;
    bottom:calc(50% - 175px);
    left: calc(50% - 200px);
  
    display: none;
  }
  
  #newClassModal h2,#deleteClassModal h2{
    text-align: center;
    line-height: 3rem;
  }
  
  #newClassModal .newClassModal_container, #deleteClassModal .deleteClassModal_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 1.25rem;
  }
  
  #classNameInput,#classText {
    font-size: 1.5rem;
    height: 2rem;
    padding: 5px;
  }
  
  #classNameInput.error {
    border: 2px solid #E63946;
  }
  
  #teacher,#teacherDisplay{
    font-size: 1.25rem;
    padding: 5px;
  }
  
  #teacher.error {
    border: 2px solid #E63946;
  }
  
  #attendance,#attendanceDisplay{
    font-size: 1.25rem;
    padding: 5px;
  }
  
  #attendance.error{
    border: 2px solid #E63946;
  }
  
  #classText,#teacherDisplay,#attendanceDisplay {
    color: #666;
    background-color: #eee;
    opacity: 1;
  }
  
  
  #cancelButton, #deleteButton {
    background-color: #E26565;
  }
  
  #saveButton, #closeButton {
    background-color: #87B1C0;
  }
  
  #modalBackDrop {
    display: none;
    top: 0;
    left: 0;
    /* right: -100%;
    bottom: -100%; */
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* events css end*/